{% extends "app_instagram/base.html" %}

{% block content %}
<h1>Edit your picture</h1>
<form action="{% url 'app_instagram:edit' picture.id %}" method="post">
  {% csrf_token %}
  <img src="/media/{{picture.path}}" class="card-img-top" alt="...">
  <div class="mb-3">
    <label class="form-label">Опис файлу</label>
    <input type="text" class="form-control" value="{{picture.description}}" name="description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}